<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= productName %></title> -->

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="cache-control" content="max-age=31536000" />
    <meta name="google-signin-client_id" content="725002701224-h710lni8ceqts1vjrcq0r5gtsuk3dgmm.apps.googleusercontent.com">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <!-- <script src = "https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script> -->
    <!-- <script src="https://smtpjs.com/v3/smtp.js"></script> -->
    <!-- <script src="https://kit.fontawesome.com/f93fa62bb6.js" crossorigin="anonymous"></script> -->
    <link src="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" src="fonts/icomoon/style.css">
    <link rel="stylesheet" src="css/bootstrap.min.css">
    <link rel="stylesheet" src="css/jquery-ui.css">
    <link rel="stylesheet" src="css/owl.carousel.min.css">
    <link rel="stylesheet" src="css/owl.theme.default.min.css">
    <link rel="stylesheet" src="css/owl.theme.default.min.css">
    <link rel="stylesheet" src="css/jquery.fancybox.min.css">
    <link rel="stylesheet" src="css/bootstrap-datepicker.css">
    <link rel="stylesheet" src="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" src="css/aos.css">
    <link rel="stylesheet" src="css/style.css">
    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="725002701224-h710lni8ceqts1vjrcq0r5gtsuk3dgmm.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta name="description" content="Hawk Sample Management System">
  
    <meta name="copyright" content="Majix Computing Pvt Ltd">
  
    <title>Hawk</title>
  </head>
  <body>
    <script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
    <!-- <script src="https://smtpjs.com/v3/smtp.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
    <script>new WOW().init();</script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.css"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>

    <div id="q-app"></div>
  </body>
</html>
